In [17]:
import pandas as pd
import numpy as np

In [18]:
indian = pd.read_csv('Indian.csv')
indian.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000,55.000000
mean,5.327273,127.036364,69.290909,19.563636,88.363636,30.896364,0.519727,37.127273,0.472727
std,3.469734,32.709702,21.931436,16.391917,153.217633,8.945803,0.409766,11.674687,0.503857
min,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,2.000000,103.000000,65.000000,0.000000,0.000000,26.200000,0.255500,28.500000,0.000000
50%,5.000000,118.000000,72.000000,23.000000,0.000000,31.100000,0.451000,33.000000,0.000000
75%,8.000000,147.500000,81.000000,33.500000,127.500000,36.850000,0.586500,47.000000,1.000000
max,13.000000,197.000000,110.000000,47.000000,846.000000,45.800000,2.288000,60.000000,1.000000

In [19]:
#Count the number of 0 entries in columns 1,2,3,4,5

indian_set = indian[0:5]
count_zero = indian_set[indian_set == 0].count()
print(count_zero)

Pregnancies                 1
Glucose                     0
BloodPressure               0
SkinThickness               1
Insulin                     3
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     2
dtype: int64

In [20]:
#Replace with nan

indian_set = indian[0:5]
indian_set.replace(0, np.nan, inplace=True)
print(indian_set)
count_zero = indian_set[indian_set == 0].count()
print(count_zero)

   Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0          6.0      148             72           35.0      NaN  33.6
1          1.0       85             66           29.0      NaN  26.6
2          8.0      183             64            NaN      NaN  23.3
3          1.0       89             66           23.0     94.0  28.1
4          NaN      137             40           35.0    168.0  43.1

   DiabetesPedigreeFunction  Age  Outcome
0                     0.627   50      1.0
1                     0.351   31      NaN
2                     0.672   32      1.0
3                     0.167   21      NaN
4                     2.288   33      1.0
Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

/var/folders/hv/4zm9jm4d18b39f5yr28zh_y40000gn/T/ipykernel_94663/809032467.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  indian_set.replace(0, np.nan, inplace=True)